body {
	padding:0;
	margin:0;
	background:#444;
}

a, a:link, a:visited {
	text-shadow: 0px 1px 2px #999;
	-moz-text-shadow: 0px 1px 2px #999;
	-webkit-text-shadow: 0px 1px 2px #999;
	padding:0;
	margin-bottom:10px;
	color:#04be9d;
}

#wrapper {
	max-width:960px;
	margin:0 auto;
	padding:0 15px;
	height:auto;
	background:url(../images/bg.gif) repeat;
}

header {
	background:url(../images/header_graphic.jpg) no-repeat;
	padding:0;
	margin:0 auto;
	width:960px;
	height:214px;
}
#title_section {
	background:#464646;
	width:960px;
	height:67px;
	padding:0;
	margin:0 auto;
}

.grey_shadow {
	text-shadow: 0px 1px 2px #000;
	-moz-text-shadow: 0px 1px 2px #000;
	-webkit-text-shadow: 0px 1px 2px #000;
	color:#444;
	font-size:.87em;
}
	

#title_section p {
	padding:0;
	margin:0;
}

.title_section {
	margin-left:350px;
}

.paddingt {
	padding-top:35px;
}

#content {
	border:1px solid #dadada;	
	width:960px;
	padding:0px;	
	margin:0 auto;
	color:#04be9d;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.6em;
}

#content_fullsail_ad {
	border:1px solid #dadada;	
	width:960px;
	padding:30px 0 50px 10px;	
	margin:0;
	color:#04be9d;
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.6em;
	height:auto;
}

#video_info {
	float:left;
	width:280px;
	height:auto;
	padding:3px;
	font-size:.65em;
}

video {
	display: block;
	margin: 0 auto;
}

footer {
	background:url(../images/footer.png) no-repeat;
	width:1256px;
	height:292px;
	margin:0 auto;
}

.l_shadow {
	text-shadow: 0px 1px 2px #333;
	-moz-text-shadow: 0px 1px 2px #333;
	-webkit-text-shadow: 0px 1px 2px #333;
	color:#444;
	font-size:.87em;
	padding-left:30px;
}

#vid1 {
	float:left;
	width:282px;
	height:181px;
	padding:0;
	height:539px;
}

#vid2 {
	float:left;
	width:282px;
	height:181px;
	padding:0 0 0 48px;
	height:539px;
}

#vid3 {
	float:left;
	width:282px;
	height:181px;
	padding:0 0 0 48px;
	height:539px;
}

.light_shadow {
	text-shadow: 0px 1px 2px #999;
	-moz-text-shadow: 0px 1px 2px #999;
	-webkit-text-shadow: 0px 1px 2px #999;
	padding:0;
	margin-bottom:10px;
}

.border {
	border:1px solid #ccc;
	padding:10px 0;
	float:left;
}

#clear {
	clear:both;
}

.info {
	color:#121212;
	font-size:.55em;
	font-family:Arial, Helvetica, sans-serif;
	padding:3px;
	text-align:left;
}

.pad_vid1 {
	padding-top:20px;
}

.pad_vid2 {
	padding-top:35px;
}

#screenshots ul {
	list-style-type:none;
	width:900px;
	
}
#screenshots li {
	float:left;
	display:inline;
	padding-left:10px;
	margin:0;
}
.green_shadow {
	text-shadow: 0px 1px 2px #999;
	-moz-text-shadow: 0px 1px 2px #999;
	-webkit-text-shadow: 0px 1px 2px #999;
	padding:0;
	margin-bottom:10px;
	color:#04be9d;
	font-size:1.7em;
	text-align:center;
}

#downloads ul {
	list-style-type:none;
	width:900px;
}

#downloads li {
	display:inline;
	float:left;
	padding-left:50px;
	margin:0;
}